<app-header-user></app-header-user>
<section class="container">
    <div class="movie-box">
        <div class="poster-box">
            <div class="poster-rating">
                <img style="width: 200px; border-radius: 5px;" src="../../../../assets/imgs/avengers-cover.jpg">
                <img style="padding-top: 20px; padding-left: 23px;" src="../../../../assets/icons/rating-stars.svg">
                <h2 style="padding-top: 5px; padding-left: 75px;">9.6</h2>
            </div>
        </div>
        <div class="movie">
            <div class="movie-title">
                <h1>{{movie?.name}}</h1>
                <a (click)="favoriteWork()"><img style="padding-top: 5px; cursor: pointer;" src="../../../../assets/icons/normal-heart.svg"></a>
                <section *ngIf="option == 'favorited-heart'">
                    <img style="padding-top: 5px; cursor: pointer;" src="../../../../assets/icons/liked-heart-purple-green.svg">
                </section>
            </div>
            <div class="movie-info-1">
                <div>
                    <span>Ano de Lançamento:</span> <br>
                    <span style="font-weight: bold;">{{movie?.releaseYear}}</span>
                </div>
                <div>
                    <span>Duração:</span> <br>
                    <span style="font-weight: bold;">{{movie?.duration}}</span>
                </div>
            </div>
            <div class="movie-info-2">
                <div>
                    <span>Gênero:</span> <br>
                    <span style="font-weight: bold;">{{movie?.movieGenres}}</span>
                </div>
                <div>
                    <span>País:</span> <br>
                    <span style="font-weight: bold;">{{movie?.country}}</span>
                </div>
            </div>
            <h4>Cast:</h4>
            <div class="cast">
                <div class="artist-info" *ngFor="let artist of movie?.actors">
                    <div class="artist-pic"></div>
                    <span style="font-weight: bold; margin-bottom: 20px; text-align: center;">{{artist?.name}}</span>
                </div>
                <div class="artist-info">
                    <img style="cursor: pointer;" src="../../../../assets/icons/right-arrow-purple.svg">
                </div>
            </div>
        </div>
    </div>
    <div class="summary">
        <h4>Sinopse:</h4>
        <div style="padding-left: 30px; padding-right: 30px; padding-bottom: 20px;">
            <span>{{movie.summary}}</span>
        </div>
    </div>
    <h4>Avaliações:</h4>
    <div class="avaliation-and-form">
        <div class="avaliations">
            <div class="comment-box" *ngFor="let rate of ratings">
                <div class="user-info">
                    <div class="user-icon"></div>
                    <span style="padding-top: 5px; text-align: center;">{{rate.user?.name}}</span>
                </div>
                <div class="comment-division"></div>
                <div class="comment-info">
                    <div class="comment-title">
                        <h5>{{rate.title}}</h5>
                        <span style="color: #C4C4C4; padding-left: 3px;">{{rate?.createdAt | date: 'dd/MM/yyyy' : 'UTC'}}</span>
                        <p-rating [style]="'padding-left: 10px; padding-top: 0px;'" [(ngModel)]="rate.stars" readonly="true" [cancel]="false"></p-rating>
                    </div>
                    <!-- <div class="comment-rating">
                        <img style="padding-top: 0px;" src="../../../../assets/icons/comment-rating.svg">
                    </div> -->
                    <div class="comment">
                        <span>{{rate?.comment}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-box">
            <h4 style="color: #161618; padding-left: 0px; padding-top: 0px;">Deixe sua avaliação:</h4>
            <form [formGroup]="form" novalidate>
                <div class="campos">
                    <label class="label" for="title">Título da avaliação:*</label>
                    <input style="width: 320px;" formControlName="title" class="input" id="title" name="title" type="text" required>
                </div>
                <div class="campos">
                    <label class="label" for="comment">Comentário:*</label>
                    <textarea style="width: 320px; height: 10em; vertical-align: text-top; box-sizing: border-box; border: 2px solid #fff; resize: vertical" formControlName="comment" class="input" id="comment" name="comment" type="comment" required></textarea>
                </div>
                <div class="campos">
                    <label class="label" for="comment">Pontuação:*</label>
                    <p-rating formControlName="stars" required [cancel]="false"></p-rating>
                </div>
                <div style="padding-left: 250px; ">
                    <button id="button" type="submit" (click)="save()">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</section>
