body{
    background-color: #161618;
}
.nav-bar{
    position: absolute;
    width: 1305px;
    height: 84px;
    left: 30px;
    top: 30px;
}
.logo{
    position: absolute;
    width: 228.43px;
    height: 84px;
}
#entrar-btn{
    width: 150px;
    height: 45px;
    background-color: #C4C4C4;
    position: absolute;
    top: 20px;
    left: 950px;
    border-radius: 50px;
}
#entrar{
    color: #fff;
    position: relative;
    top: 6px;
    left: 46px;
    font-family: Raleway;
    font-weight: semibold;
    font-size: 22px;
}
#cadastrar-btn{
    width: 185px;
    height: 48px;
    background-color: #161618;
    position: absolute;
    top: 20px;
    left: 1110px;
    border: 3px solid #C4C4C4;
    border-radius: 50px;
}
#cadastrar{
    color: #fff;
    top: 5px;
    left: 25px;
    position: relative;
    font-family: Raleway;
    font-weight: semibold;
    font-size: 22px;
    text-align: center;
}
.home-title{
    color: #fff;
    font-family: Raleway;
    font-weight: extrabold;
    font-size: 58px;
    line-height: normal;
}
.home-subtitle{
    color: #C4C4C4;
    position: relative;
    font-family: Inter;
    font-weight: lighter;
    font-size: 16px;
}
#home-entrar-btn{
    width: 155px;
    height: 45px;
    background-color: #C4C4C4;
    position: absolute;
    border-radius: 5px;
}
#home-entrar{
    color: #fff;
    top: 9px;
    left: 55px;
    position: relative;
    font-family: Raleway;
    font-weight: bold;
    font-size: 18px;
}

.home-image{
    height: 430px;
}