
        <div class="nav-bar">
            <img class="logo" src="assets\icons\smoos-logo-purple-green.svg">
            <a [routerLink]="['/login']"><div id="entrar-btn">
                <span id="entrar">Entrar</span>
            </div></a>
            <a [routerLink]="['/sign-up']"><div id="cadastrar-btn">
                <span id="cadastrar">Cadastre-se</span>
            </div></a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6" style="top: 150px; right: 30px">
                    <h1 class="home-title">Avalie e sugira a próxima divisão de alguém</h1>
                    <p class="home-subtitle">A nova plataforma para avaliações das mais diversas opções de entretenimento e conhecimento geral</p>
                    <a [routerLink]="['/login']"><div id="home-entrar-btn">
                        <span id="home-entrar">Iniciar</span>
                    </div></a>
                </div>
                <div class="col-lg-6" style="top: 140px; left: 110px">
                    <img class="home-image" src="assets\imgs\Dayflow - Shop Online.png">
                </div>
            </div>

        </div>


