
    <form [formGroup]="form" novalidate >
        <div class="campos">
            <label class="label" for="name">Nome:*</label> <br>
            <input style="width: 268px;"  formControlName="name" class="input" id="name" name="name" type="text" required>
        </div>
        <div class="campos">
            <label class="label" for="release-date">Data de Lançamento:*</label>
            <input style="width: 230px;" class="input" inputId="release-date" formControlName="releaseYear"/>
        </div>
        <div class="campos">
            <p>Gênero:*</p>
            <p-dropdown formControlName="genres" required [placeholder]="'Selecione o gênero'"
            [options]="genres" optionLabel="description" optionValue="value"
            [style]="{'width':'268px'}"></p-dropdown>
        </div>
        <div class="campos">
            <label class="label" for="duration">Duração:*</label> <br>
            <input style="width: 230px;"  formControlName="duration" class="duration-input" id="duration" name="duration" type="text" required>
        </div>
        <div class="campos">
            <label class="label" for="description">Sinopse:*</label> <br>
            <textarea style="width: 600px; height: 5em; vertical-align: text-top; box-sizing: border-box; border: 2px solid #fff; resize: vertical" formControlName="summary" class="input" id="description" name="description" type="text" required></textarea>
        </div>
        <div class="campos">
            <label class="label" for="cast">Cast:*</label> <br>
            <p-multiSelect [options]="artists" formControlName="actors" optionLabel="name" optionValue="id" display="chip" appendTo="body" [style]="{'width':'230px'}"></p-multiSelect>
            <!-- <input style="width: 600px;" class="cast-input" id="cast" name="cast" type="text" required> -->
        </div>
        <div class="campos">
            <label class="label" for="country">País:*</label> <br>
            <input style="width: 268px;" class="input" id="country"formControlName="country"   name="country" type="text" required>
        </div>
        <div class="campos" style="padding-left: 50px">
            <label class="label" for="photo">Foto:*</label> <br>
            <input style="width: 268px;" class="input" id="photo" name="photo" type="file" required>
        </div>
        <div style="padding-left: 455px;">
            <button id="button" type="submit" (click)="save()">Cadastrar Filme</button>
        </div>
    </form>

