<app-header-user></app-header-user>
<h1>Sugira novas obras para nosso catálogo!</h1>
<h2>Caso não tenha encontrado alguma obra que deseja avaliar, nos informe abaixo:</h2>
<form class="container" [formGroup]="form" novalidate>
    <div class="box">
        <div class="campos">
            <p>Categoria da obra:*</p>
            <p-dropdown formControlName="categories" required [placeholder]="'Selecione a categoria'"
            [options]="categories" optionLabel="description" optionValue="value"
            [style]="{'width':'268px','height':'45px'}"></p-dropdown>
        </div>
        <div class="campos">
            <label class="label" for="name">Nome da obra:*</label> <br>
            <input style="width: 268px;"  formControlName="name" class="input" id="name" name="name" type="text" required>
        </div>
        <div style="padding-left: 105px; padding-top: 30px; color: #BF62EA;">
            <button id="button" type="submit" >Cadastrar Sugestão</button>
        </div>
    </div>
</form>