
    <header class="header">
      <div>
        <img class="logo" src="assets/imgs/smoos logo.png">
      </div>
      <div>
        <nav class="navbar">
          <ul class="menu">
              <li><a href="#">Categorias</a></li>
              <li><a href="#">Sobre</a></li>
              <li><a href="#">Sugestões</a></li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                  Cadastrar
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Artistas</a></li>
                  <li><a class="dropdown-item" href="#">Obras</a></li>
                </ul>
              </li>
          </ul>
        </nav>
      </div>
      <div>
        <input class="search" placeholder="Search" id="search" name="search" type="search">
      </div>
      <div class="profile"></div>
    </header>
