<app-header></app-header>
        <h1>Cadastro de obras</h1>
        <section class="categorias">
            <div class="box">
                <div style="padding-left: 5px" (click)="selectMovie()" class="box-content">
                    <img src="assets\icons\movie-icon.svg">
                    <br>
                    <p>Filme</p>
                </div>
            </div>
            <div class="box">
                <div style="padding-left: 3px" class="box-content" (click)="selectAlbum()">
                    <img style="padding-left: 3px" src="assets\icons\album-icon.svg">
                    <br>
                    <p>Álbum</p>
                </div>
            </div>
            <div class="box">
                <div class="box-content" (click)="selectSong()">
                    <img style="padding-left: 3px" src="assets\icons\music-icon.svg">
                    <br>
                    <p>Música</p>
                </div>
            </div>
            <div class="box">
                <div style="padding-left: 3px" (click)="selectBook()" class="box-content">
                    <img src="assets\icons\book-icon.svg">
                    <br>
                    <p style="padding-left: 4px">Livro</p>
                </div>
            </div>
        </section>
        <section  class="campos-filme" *ngIf="option == 'movie'">
            <app-register-movie ></app-register-movie>
        </section>
        <section  class="campos-album" *ngIf="option == 'album'">
            <app-register-album></app-register-album>
        </section>
        <section  class="campos-musica" *ngIf="option == 'song'">
            <app-register-song></app-register-song>
        </section>
        <section class="campos-livro" *ngIf="option == 'book'">
            <app-register-book></app-register-book>
        </section>