
        <div class="cadastro-box">
            <h1>Cadastro</h1>
            <form class="form-fieds" [formGroup]="form" novalidate>
                <div style="position: relative; "> 
                    <label class="label" for="email">Nome:*</label> <br>
                    <input class="input" id="name" formControlName="name" type="text"><br>
                    <span class="error" *ngIf="form.controls.name?.errors?.required && (form.controls.name?.dirty || form.controls.name?.touched)"><i class="fa fa-remove"></i> Nome é obrigatório</span>
                </div>
                <div style="position: relative; top: 15px">
                    <label class="label" for="email">Email:*</label> <br>
                    <input class="input" id="email" formControlName="email" type="email"><br>
                    <span class="error" *ngIf="form.controls.email?.errors?.required && (form.controls.email?.dirty || form.controls.email?.touched)"><i class="fa fa-remove"></i> Email é obrigatório</span>
                </div>
                <div style="position: relative; top: 25px">
                    <label class="label" for="email">Senha:*</label> <br>
                    <input class="password-input" id="password" formControlName="password" type="password"><br>
                    <span class="error" *ngIf="form.controls.password?.errors?.required && (form.controls.password?.dirty || form.controls.password?.touched)"><i class="fa fa-remove"></i> Senha é obrigatória</span>
                </div>
                <div style="position: relative; top: 35px">
                    <label class="label" for="email"> Confirmar senha:*</label> <br>
                    <input class="password-input" id="password" formControlName="confirmPassword" type="password"><br>
                    <span class="error" *ngIf="form.controls.confirmPassword?.errors?.required && (form.controls.confirmPassword?.dirty || form.controls.confirmPassword?.touched)"><i class="fa fa-remove"></i> As senhas não conferem</span>
                </div>
                <div style="position: relative; top: 60px; left: 75px;">
                    <button class="button" type="submit" (click)="save()">Cadastrar</button>
                </div>
            </form>
        </div>
        <div>
            <img class="wave" src="assets\imgs\wave.png">
        </div>
        <div>
            <img class="image" src="assets\imgs\Amigos - Design Jam.png">
        </div>