
<app-header></app-header>
        <h1>Cadastro de Artistas</h1>
        <section class="section">
            <div>
                <form  [formGroup]="form" novalidate>
                    <div>
                        <label class="label" for="nome">Nome:*</label> <br>
                        <input class="input" id="name" formControlName="name" name="name" type="text" required>
                    </div>
                    <div>
                        <label class="label" for="age">Idade:*</label> <br>
                        <input style="width: 140px;" class="input"formControlName="age"  id="age" name="age" type="text" required>
                    </div>
                    <div>
                        <label class="label" for="picture">Foto:*</label> <br>
                        <input class="input" id="picture" name="picture" type="file" required>
                    </div>
                    <div>
                        <label class="label" for="description">Descrição:*</label> <br>
                        <textarea formControlName="description" style="width: 880px; height: 5em; vertical-align: text-top; box-sizing: border-box; border: 2px solid #fff; resize: horizontal" class="input" id="description" name="description" type="text" required></textarea>
                    </div>
                    <div>
                        <button id="button" (click)="save()" type="submit">Cadastrar artista</button>
                    </div>
                </form>
            </div>
        </section>




















<!-- <!doctype html>
<html lang="pt-br">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet" />
	    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <meta charset="utf-8">
        <title>Cadastro de artista - SMOOS</title>
        <base href="/">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <link rel="stylesheet" href="C:\Users\jujus\Documents\Julia's documents\college\Lab desenvolvimento de sistemas de informação\smoos\node_modules\bootstrap\dist\css/bootstrap.css">
        <link rel="stylesheet" href="C:\Users\jujus\Documents\Julia's documents\college\Lab desenvolvimento de sistemas de informação\smoos\smoos-webapp\src\app\backoffice\components\register-artist\register-artist.component.css">
    </head>
    <body>
        <header class="nav-bar">
            <img class="logo" src="C:\Users\jujus\Documents\Julia's documents\college\Lab desenvolvimento de sistemas de informação\smoos\smoos-webapp\src\assets\imgs\smoos logo.png">
            <ul class="c-dropdown">
                <li class="c-dropdown-item">
                    <a class="c-dropdown-link" href="#">Categorias</a>
                </li>
                <li class="c-dropdown-item">
                    <a class="c-dropdown-link" href="#">Sobre</a>
                </li>
                <li class="c-dropdown-item">
                    <a class="c-dropdown-link" href="#">Sugestões</a>
                </li>
                <li class="c-dropdown-item">
                    <span>Cadastrar</span>
                    <ul class="c-dropdown-submenu">
                        <li class="c-dropdown-submenu-item">
                            <a class="c-dropdown-submenu-link" href="#">Obras</a>
                        </li>
                        <div class="division"></div>
                        <li class="c-dropdown-submenu-item-last">
                            <a class="c-dropdown-submenu-link" href="#">Artistas</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <input class="search" placeholder="Search" id="search" name="search" type="search">
            <div class="profile"></div>
        </header>
        <h1>Cadastro de artistas:</h1>
    </body>
</html> -->