<form [formGroup]="form" novalidate>
    <div class="campos">
        <label class="label" for="name">Nome:*</label> <br>
        <input style="width: 268px;"  formControlName="name" class="input" id="name" name="name" type="text" required>
    </div>
    <div class="campos">
        <label class="label" for="release-date">Ano de Lançamento:*</label> <br>
        <input style="width: 230px;" class="input" inputId="release-date" formControlName="releaseYear"/>
    </div>
    <div class="campos">
        <label class="label" for="author">Cantor(a):*</label> <br>
        <p-dropdown [options]="artists" formControlName="artistId" required [placeholder]="'Selecione o Cantor'"
        optionLabel="name" optionValue="id"
        [style]="{'width':'268px','height':'60px'}"></p-dropdown>
    </div>
    <div class="campos" >
        <label class="label" for="duration">Duração:*</label> <br>
        <input style="width: 230px;" formControlName="duration" class="duration-input" id="duration" name="duration" type="text" required>
    </div>
    <div class="campos">
        <p>Gênero:*</p>
        <p-dropdown formControlName="genres" required [placeholder]="'Selecione o gênero'"
        [options]="genres" optionLabel="description" optionValue="value"
        [style]="{'width':'268px', 'height': '60px'}"></p-dropdown>
    </div>
    <div class="campos">
        <label class="label" for="photo">Foto:*</label> <br>
        <ng-container formGroupName="poster">
            <input style="width: 268px;" #poster accept='image/*' class="input" id="poster"  name="poster" type="file"  (change)="onAttachment($event, form.get('poster'), poster.files)" required>

        </ng-container>
    </div>
    <div class="campos">
        <label class="label" for="album">Álbum:*</label> <br>
        <p-dropdown formControlName="albumId" required [placeholder]="'Selecione o album'"
        [options]="albums" optionLabel="name" optionValue="id"
        [style]="{'width':'268px', 'height': '60px'}"></p-dropdown>
    </div>
    <div style="padding-left: 400px;">
        <button id="button" type="submit" (click)="save()">Cadastrar Música</button>
    </div>
</form>